
main{
	display: flex;
	align-items: center;
	justify-content: center;
}
.cv_container{
	text-align: center;
	margin-bottom: 5em;
}

.cv{
	display: block;
	margin:  2em auto;
	width: 50%;
}

.download_cv{
	font-size: 1.5em;
	padding: 5px 30px;
	border: 2px solid black;
	border-radius: 8px;
}
.download_cv:hover {
	border: 2px solid #81B29A;
	color: #81B29A;
	font-weight: bold;
}
