/* Import GoogleFonts: Montserrat, Oxygen, Oswald */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Oswald:wght@600&family=Oxygen:wght@400;700&display=swap');
/*
font-family: 'Montserrat', sans-serif;		Liens
font-family: 'Oxygen', sans-serif;			Texte
font-family: 'Oswald', sans-serif;			titre
Green: #81B29A
Grey #252627
*/


* {		/* Cible tout les elements - "Reset" */   
	margin: 0;								/* Enleve tout les margin de base. 'margin': marge exterieure de l'element */
	padding: 0;								/* Enleve tout les padding de base. 'padding': marge interieure de l'element */
	font-family: "Oxygen", sans-serif;		/* Change la police en 'Oxygen'. 'sans-serif' si Oxygen pas dispo */
	/*border: 1px red solid;*/				/* Ajoute une bordure rouge de 1px (debugging)*/
	font-weight: normal;					/* Retire le 'gras' mis de base sur certains textes */
	text-decoration: none;				/* Enleve les decoration de textes (soulignement..) */
	list-style: none;						/* Enleve les decoraton de listes */
	font-size: 18px;						/* Taille du texte: 18px */

}

a {
	color: #252627;		/* Pour que les liens n'apparaissent plus en bleu/violet */
}

/*////////////////*/
/*//// MOBILE ////*/	/* Ce css sera pris en compte de base */
/*////////////////*/	/* On commence toujours par le css du plus petit ecran, puis on agrandi */

body {
	background-color: whitesmoke;			/* Couleur de l'arriere plan.  https://htmlcolorcodes.com/colors/shades-of-white/ */
	min-height: 100%;					/* Hauteur minimale: toute la hauteur de la page */
}


main {
    padding: 0;
}

.title_container{
    background-image: url("/resources/cablage.jpg");
    background-position: center;
    background-size:cover;

}
.title{
    color: ghostwhite;
    font-size: 5em;
    font-weight: bold;
    text-align: center;
    padding: 1.85em;
    
}

.title a {
    color: ghostwhite;
    font-size: 1em;
    font-weight: bold;
}


.logo_aftec,.logo_entreprise {
    padding: 0px 25px;
    height: 100px;

}

.logos {
    width: 100%;
    display: flex;
    justify-content: center;
}

.article_container{
    background-color: rgb(229, 228, 226);
    margin: 0 15%;
    padding: 1em 2em;
    color: #252627;
}

.cvlink{
    display: flex;
}

.cvlink:hover {
    background-color: rgb(227, 213, 187);
    cursor: pointer;
}

.article{
    display: flex;
    margin: 2.5em;
}

.article img{
    height: 10em;
    width: 12em;
}

.article h3{
    font-weight: bold;
    margin-bottom: 0.5em;
    font-size: 1.4em;
}
.article span{
    font-weight: bold;
    font-size: 0.75em;
}
.article div{
    margin: auto 0 auto 2em;
    
}
#axel{
    color: whitesmoke;
    cursor: no-drop;
    position:absolute;
    right: 42px;

}
