/*Oxygen*/
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Oxygen", sans-serif;
    /*border: 1px red solid;*/
    color: black;
    text-decoration: none;
    list-style: none;
}

body {
    
    position: relative;
}

main {

padding-top: 100px;

}


.navbar {
    background-color: #333;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo img {
    margin-left: 60px;
    height: 60px;
    padding: 10px 0;
}

.navbar .links {
    margin-right: 60px;
    justify-content: center;
}

.navbar .links li {
    float: left;
}

.navbar .links li a {
    display: block;
    color:whitesmoke ;
    font-weight: bold;
    padding: 0 20px;
    font-size: 20px;
}

.navbar .links li a:hover {
    color: orange;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #555;
    padding: 20px 0;
    z-index: 1;
}

.dropdown-content a {
    display: block;
    padding: 5px;
    margin: 10px;
    white-space: nowrap;
}

.dropdown:hover .dropdown-content {
    display:block;
}


.carre_gris{

    background-color:#5a5a5a;
    margin: 75px 501px;
    text-align: center;
    padding: 15px;
}

.carre_gris h1{
    color: orange;
    margin-bottom: 30px;
    font-size: 61px; 

}
.carre_gris h1 a{

    color: orange;
}
.carre_gris p {

    margin: 0 40px;
    font-size: 20px;

}

.logo_aftec,.logo_entreprise {

    padding: 0px 25px;
    height: 100px;
}

.logos {

    width: 100%;
    display: flex;
    justify-content: center;
    
}


